.DS_Store
.vscode/
.env

# Binaries for programs and plugins
gitfit
*.exe
*.out
*.test
*.dll
*.so

# Image files
*.png
*.jpg
*.jpeg
*.gif
compress
gitfit-compressed-*.jpg
!favicon.png

# Logs and databases
*.log