name: CD - Docker Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/git-fit
          IMAGE_TAG=$IMAGE_NAME:${GITHUB_SHA::7}  # Use commit SHA for unique image version
          
          # Build and tag image
          docker build -t $IMAGE_TAG .
          docker tag $IMAGE_TAG $IMAGE_NAME:latest  # Tag with "latest" too

          # Push image
          docker push $IMAGE_TAG
          docker push $IMAGE_NAME:latest
